.lpc-crossFade {
  position: relative;
}

.lpc-crossFade_item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0;
  transition: opacity 2s ease-in-out;

  &.is-active {
    opacity: 1;
    z-index: 1;
  }
}