.mouseStalker {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transform: translate3d(50vw, 50vh, 0);
  pointer-events: none;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  transition: transform 0.3s ease-out;
  opacity: 0;

  &.add-active {
    opacity: 1;
  }
}

.mouseStalker_icon {
  width: 30px;
  height: 30px;
}