.DS_Store
.vscode
.env

node_modules
unobserved

resources/project.js
resources/mysql57
resources/cert
resources/unobserved

license.txt
readme.html
wp-admin
wp-includes
wp-*.php
wp-config.php
xmlrpc.php
**/wp-content/languages
**/wp-content/uploads
**/wp-content/upgrade
**/wp-content/plugins
**/wp-content/themes/twentytwenty
**/wp-content/themes/twentytwentyone
**/wp-content/themes/twentytwentytwo