// インポート
@use './common/variable' as var;
@use './common/mixin' as mixin;

.scrollsnap {
  * {
    box-sizing: border-box;
  }

  h1 {
    font-size: 30px;
    text-align: center;
  }
}

.scrollsnap-header {
  position: fixed;
  top: 50%;
  right: 50px;
  transform: translate(0, -50%);
  z-index: 10;
}

.scrollsnap-nav {
  li {
    list-style: none;
  }

  a {
    border-radius: 100px;
    border: 1px solid #000;
    background-color: #fff;
    width: 10px;
    height: 10px;
    display: inline-block;

    &.add-current {
      background-color: #000;
    }
  }
}

.scrollsnap-navList {
  margin: 0;
  padding: 0;
}

.scrollsnap-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  position: relative;

  &::after {
    content: '';
    display: block;
    border-top: 1px solid #000;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
  }
}
