@use '../common/variable' as var;
@use '../common/mixin' as mixin;

.top {
  padding: 60px 10px;
}

.top-ttl {
  font-size: 40px;
  font-weight: bold;
  line-height: 1.1;
  text-align: center;
}

.top-wordList {
  width: 500px;
  margin: 60px auto;
}

.top-wordList_container {

  & + .top-wordList_container {
    margin-top: 30px;
  }
}

.top-wordList_readtext {
  // display: none;
}

.top-archive {
  width: 500px;
  margin: 60px auto;
}

.top-archive_ttl {
  font-size: 20px;
  font-weight: bold;
}