<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="telephone=no" name="format-detection">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>サイトタイトル</title>
  <link href="https://www.hoge/" rel="canonical">
  <meta content="ディスクリプション" name="description">
  <meta content="https://www.hoge/" property="og:image">
  <meta content="サイトタイトル" property="og:title">
  <meta content="article" property="og:type">
  <meta content="https://www.hoge/" property="og:url">
  <meta content="サイトタイトル" property="og:site_name">
  <meta content="ディスクリプション" property="og:description">
  <link href="./assets/css/index.css?1620899894686" rel="stylesheet">
</head>
<body id="top">
<header></header>

  
  <main class="test" id="test">
    <h1 class="title">EJSテスト</h1>
    <p class="text">ダミーテキストダミーテキストダミーテキストダミーテキスト</p>
    <button type="button">ボタンタグ</button>

    <h2 class="title">slick</h2>
    <div class="slick-test">  
      
      
        <div class="slick-item">ループアイテム1</div>
      
        <div class="slick-item">ループアイテム2</div>
      
        <div class="slick-item">ループアイテム3</div>
      
    </div>

    <h2 class="title">magnificPopup</h2>
    <a class="test-popup-link" data-test="テスト" href="./assets/images/150x150.png">Open popup</a>
  </main>
  

<script src="./assets/js/index.js?1620899894686"></script>

</body>
</html>

